<form #registrationForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <label for="">
            Name: <input name="name" id="name" placeholder="Your Name" type="text" 
            [(ngModel)]="user.name">

        </label>
    </div>
    <div>
        <label for="">
            Username: <input name="username" id="username" placeholder="Your Username" type="text" [(ngModel)]="user.username">
        
            <!-- <span >Please enter your name</span> -->
        </label>
    </div>
    <div>
        <label for="">
            Password: <input name="password" id="password" placeholder="Your Password" type="text" [(ngModel)]="user.password">
        </label>
    </div>
    <div>
        <label for="">
            Repeat Password: <input name="passwordRepeat" id="passwordRepeat" placeholder="Password Repeat" type="text" [(ngModel)]="user.passwordRepeat">
        </label>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form>

<button (onclick)="onClear()">Clear</button>