<div class="card border-dark mb-3" style="max-width: 100%;">
    <div class="card-header">{{vm.title}}</div>
    <div class="card-body">
      <h4 class="card-title" >
        <ul>
            <li ng-repeat='movie in vm.movies'>
                <a ng-href=/#/movies/{{movie._id}}>{{movie.title}}</a>
            </li>
        </ul>
      </h4>
    </div>
  </div>
  <div>
    <ul class="pagination pagination-lg">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 0}">
        <a class="page-link" ng-href="/#/movies?offset=0&count=5">1</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 1}">
        <a class="page-link" ng-href="#/movies?offset=5&count=5">2</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 2}">
        <a class="page-link" ng-href="#/movies?offset=10&count=5">3</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 3}">
        <a class="page-link" ng-href="#/movies?offset=15&count=5">4</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 4}">
        <a class="page-link" ng-href="#/movies?offset=20&count=5">5</a>
      </li>
      <li class="page-item" ng-class="{active: vm.offset / vm.count == 5}">
        <a class="page-link" ng-href="#/">&raquo;</a>
      </li>
    </ul>
  </div>
  <!-- <li ng-repeat='num of vm.array' class="page-item" ng-class="{active: vm.offset % vm.count == 0}">
    <a class="page-link" ng-href="#/movies?offset=5&count=5">{{num}}</a>
  </li>   -->