<!-- {{vm.movieDetails}}  -->
 <img class='sidebar' 
    src='https://image.tmdb.org/t/p/original/{{vm.movieDetails.poster_path}}'
    width=580></br>
<div class="card border-success mb-4" style="max-width: 70rem;">
    <h1 class="card-header">{{vm.movieDetails.title}} ({{vm.movieDetails.year}})  
        <a class="btn btn-secondary my-2 my-sm-0" ng-href='#!/edit/{{vm.movieDetails._id}}'>Edit</a>      
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" ng-click=vm.deleteMovie()>Delete</button></h1>
    <h3 class="card-body">
        <span class="card-title" ng-repeat='genres in vm.movieDetails.genres'> Genres:  {{genres}}, </span></br>
        <!-- <h3 class="card-text"> -->
            Watch it On <a href='https://www.imdb.com/title/{{vm.movieDetails.imdb_id}}'>IMDB</a><br/>
            Budget: {{vm.movieDetails.budget | currency}} </br>
            <!-- production_companies: {
                name: String,
                country: String,
                logo_path: String
            }</br> -->
            Release Date: {{vm.movieDetails.release_date | date: 'MMM dd, yyyy'}} </br>
            Revenue: {{vm.movieDetails.revenue | currency}} </br>
            {{vm.movieDetails.overview}}
        <!-- </h3> -->
    </h3>
</div>
<div class='actorsList'>
        <p class='actor' ng-repeat='actor in vm.movieDetails.actors'>  
                <img src='https://image.tmdb.org/t/p/original/{{actor.profile_path}}'></br>
                {{actor.name}} (As {{actor.character}})<br/>
                Popularity: {{actor.popularity}}
        </p>
</div>